body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px;
}

.select {
    color: rgb(60, 0, 255);
}

.black {
    color: rgb(38, 120, 29);
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
